.wrapper {
  padding: 100px 20px 0 20px;
  min-height: 100vh;
  background: #e9e9e9;
}

.pageTitle {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.content {
  display: flex;
  margin: 0 -10px;
}
