body {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(131, 131, 196) rgb(156, 119, 48);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(176, 178, 182);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(47, 163, 86);
  border-radius: 20px;
  border: 1px solid rgb(243, 234, 218);
}